<!--https://www.w3schools.com/w3css/tryw3css_templates_black.htm-->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/w3-theme-black.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/custom.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword Generator</title>
    <style>
        body {
            background-image: url('static/images/background.png');
        }
    </style>
</head>

<body>

    <div class="centered" style="width: 1000px; height: 1300px; border: 1px solid black; background:white">
        <h1>Crossword Generator</h1>

        <hr>
        
        <form method="POST" action="{{ url_for('index') }}">
            <label for="submission_text"><i>Enter a topic to generate a randomized crossword puzzle:</i></label>
            <br><br>
            <label for="numclues">Number of clues:</label> 
                <select name="numclues" id="numclues"> 
                    <option value="10">10</option> 
                    <option value="20">20</option> 
                    <option value="30">30</option> 
                    <option value="40">40</option> 
                </select>
            <br>
            <label for="difficulty">Difficulty:</label> 
                <select name="difficulty" id="difficulty">
                    <option value="Hard">Hard</option> 
                    <option value="Medium">Medium</option> 
                    <option value="Easy">Easy</option> 
                </select>
            <br><br>
            <input type="text" id="submission_text" name="submission_text" required>
            <br><br>
            <div class="w3-container">
                <button class="w3-btn w3-theme"
                    onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">Submit</button>
            </div>
        </form>

        <hr>

        <div>
            For example: The input <b>"Harry Potter"</b> will generate a randomized crossword puzzle like
        </div>
        <br><br>
        <img src='static/images/harry_potter.PNG' height="800">
    </div>

</body>

</html>